REQUIREMENTS:

The game should be played between the player and the computer
The computers choice should be randomly determined
The humans choice should be entered by prompt
The humans choice should be case-insensitive
There should be two score variables, one for each player
These should be incremented if either wins a round
The winner of the round should be displayed at the end of a round
The game should play until 5 points are scored by a player

PSEUDOCODE:

START

SET playerScore, computerScore to 0

WHILE playerScore != 5 AND computerScore != 5
    GET playerChoice
    CONVERT playerChoice to lowerCase

    SET computerChoice to RANDOM["Rock", "Paper", "Scissors"]

    IF playerChoice == "rock" && computerChoice == "scissors"
    OR 
    playerChoice == "scissors" && computerChoice == "paper" 
    OR
    playerChoice == "paper" && computerChoice == "rock" 
    THEN
        INCREMENT playerScore by 1
        PRINT "playerChoice beats computerChoice, you win"

    ELSE IF computerChoice == "rock" && playerChoice == "scissors"
    OR 
    computerChoice == "scissors" && playerChoice == "paper" 
    OR
    computerChoice == "paper" && playerChoice == "rock" 
    THEN
        INCREMENT computerScore by 1
        PRINT "computerChoice beats playerChoice, you lose"

    ELSE
        PRINT "It's a tie"
    ENDIF

    PRINT playerScore, computerScore


ENDWHILE

IF playerScore > computerScore THEN
    PRINT "Player wins"
ELSE 
    PRINT "Computer wins"
ENDIF

END
